#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding-bottom: 1.5em;

    background-color: $accent-color;
    text-align: center;

    h3 {
        margin-top: 0;
        margin-bottom: .5em;
        color: $contact-text-color;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        margin-top: 0;
        color: $contact-text-color;
    }

    #contactInfo {
        width: 60%;
        margin-bottom: 1em;
    }
    #sendIt {
        
        padding: .5em;
        background-color: $pop-color;
        
        border-radius: 5px;
        border: 1px solid $line-color;    
        color: $main-color;
        font-family: $main-font-family;
        
    }
}