#about {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    padding: 1em;

    background-color: $main-color;
    
    border-bottom: 1px solid $line-color;

    h3 {
        margin: 0;
        width: 100%;
        text-align: center;
        color: $about-text-color;
    }
    img {
        max-width: 100%;
        border-radius: $border-radius;
        
    }

    #aboutOne {
        max-width: $main-content-container-width-small;
        padding: 1em;
        
        background-color: $accent-color;
        border-radius: $border-radius;
    }

    #aboutTwo {
        max-width: $main-content-container-width-small;
        
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em;

        background-color: $accent-color;
        border-radius: $border-radius;
    }
}

@media (min-width: 950px) {
    #about {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
        #aboutOne {
            max-width: $main-content-container-width-large;
        }
        #aboutTwo {
            max-width: $main-content-container-width-large;
        }
    }
}