main {

    #indexHeading {
        padding-left: .25em;
        padding-right: .25em;
        text-align: center;
    }

    #aboutHeading {
        padding-left: .5em;
        padding-right: .5em;
        text-align: center;        
    }

    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        padding: 1em;

        background-color: $accent-color;

        border-top: 1px solid $line-color;
        border-bottom: 1px solid $line-color;
        h3 {
            margin: 0;
            width: 100%;
            text-align: center;
            color: $index-text-color;
        }
        img {
            max-width: 100%;
            border-radius: $border-radius;
        }
    }
        @media (min-width: 950px) {
            .infoContainer {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            #infoOne {
                max-width: $main-content-container-width-large;
            }
            #infoTwo {
                max-width: $main-content-container-width-large;
            }
            #infoThree {
                max-width: $main-content-container-width-large;
            }
        }
    }
    #infoOne {
        max-width: $main-content-container-width-small;
        background-color: $main-color;
        padding: 1em;
        
        border-radius: 1em;
    }
    #infoTwo {
        max-width: $main-content-container-width-small;
        background-color: $main-color;
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 1em;
    }
    #infoThree {
        max-width: $main-content-container-width-small;
        background-color: $main-color;
        padding: 1em;
        
        border-radius: 1em;
    }
}