$font-main-color: gray;
$main-font-family: 'Roboto', sans-serif;
$font-accent-color: #212529;
$accent-font-family: 'Merriweather', sans-serif;

$border-radius: 1em;

$main-color: white;
$accent-color: rgb(200, 200, 200);
$contact-text-color: black;
$about-text-color: black;
$index-text-color: black;

$pop-color: red;

$beard: '../img/bodyimg.png';

$nav-background-color: white;
$line-color: gray;
$nav-height: 50px;
$nav-image-height: 40%;
$nav-image-height-large: 80%;
$nav-border-radius: 5px;

$main-content-container-width-small: 70vw;
$main-content-container-width-large: 25vw;